<div class="span3">
    <div class="sidebar">
        <ul class="widget widget-menu unstyled">
            <li class="active">
                <a href="#">
                    <i class="menu-icon icon-dashboard"></i>Dashboard
                </a>
            </li>
            <li>
                <a href="~/Sale/Create"><i class="menu-icon icon-bullhorn"></i>Sale</a>
            </li>
            <li>
                <a href="~/Return/Create">
                    <i class="menu-icon icon-inbox"></i>Return
                </a>
            </li>
        </ul>
        <!--/.widget-nav-->


        <ul class="widget widget-menu unstyled">
            @*<li><a href="#"><i class="menu-icon icon-bold"></i> Statistics </a></li>*@
            <li><a href="~/Login/Logout"><i class="menu-icon icon-signout"></i>Logout </a></li>
        </ul>
    </div>
</div>
