
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper" style="background-color:white">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-users"></i>Initial Setup</a></li>
            <li class="active">Color</li>
        </ol>
    </section>
    <br />
    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-6">
                <div id="chart_container" style="position: relative">
                    <canvas id="bar_chart"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div id="chart_container" style="position: relative">
                    <canvas id="pie_chart"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div>
                    <canvas id="line_chart" style="font: 10px"></canvas>
                </div>
            </div>
        </div>


    </section>
</div>

@section Dashboard{
    <script src="~/Scripts/Chart.js"></script>
    <script>
    var ctx = document.getElementById("bar_chart").getContext('2d');
    var category = @Html.Raw(Json.Encode(ViewBag.category));
    var quantity = @Html.Raw(Json.Encode(ViewBag.quantity));

    var myChart = new Chart(ctx,
        {
            type: 'bar',
            data: {
                labels: category,
                datasets: [
                    {
                        label: 'Sale by Category',
                        data: quantity,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero: true
                            }
                        }
                    ]
                }
            }
        });

        var piectx = document.getElementById("pie_chart").getContext('2d');
    var myPiChart = new Chart(piectx,
        {
            type: 'pie',
            data: {
                labels: category,
                datasets: [
                    {
                        label: '# of Votes',
                        data: quantity,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }
                ]
            }
            });




        var linectx = document.getElementById("line_chart").getContext('2d');
    var date = @Html.Raw(Json.Encode(ViewBag.date));
    var dquantity = @Html.Raw(Json.Encode(ViewBag.dquantity));
        var myPiChart = new Chart(linectx,
        {
            type: 'line',
            data: {
                labels: date,
                datasets: [
                    {
                        label: 'Sale by Day',
                        data: dquantity
                    }
                ]
            },
        });
    </script>
}